.my-profile {
  background-color: white;
  height: 100%; /* Set the minimum height of the section to 100% of viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-profile h2 {
  margin-bottom: 20px;
}

.my-profile form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.my-profile .form-group {
  margin-bottom: 20px;
}

.my-profile label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.my-profile input[type="text"],
.my-profile input[type="password"],
.my-profile input[type="email"] {
  width: 500px;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #555;
}

.my-profile input[type="text"]:disabled,
.my-profile input[type="email"]:disabled {
  background-color: #eee;
}

.my-profile button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.my-profile button[type="submit"]:hover {
  background-color: #0069d9;
}


.container {
  display: flex;
  justify-content: center;
}

button {
  padding: 10px;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #1976D2;
}

button:focus {
  outline: none;
}

button.edit {
  background-color: #4CAF50;
}

button.edit:hover {
  background-color: #388E3C;
}

h2 {
  color: darkslategray;
  font-weight: bold;
}

