.search-input {
  margin-right: 10px;
  margin-top: 15px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 8px;
  outline: none;
  margin-left: 10px;
  width: 800px;
  margin-bottom: 20px;
}

.ribbon{width: 150px;height: 150px;overflow: hidden;position: absolute}.ribbon::before,
                                                                       .ribbon::after{position: absolute;z-index: -1;content: '';display: block;border: 5px solid #2980b9}.ribbon span{position: absolute;display: block;width: 225px;padding: 8px 0;background-color: #3498db;box-shadow: 0 5px 10px rgba(0,0,0,.1);color: #fff;font: 100 18px/1 'Lato', sans-serif;text-shadow: 0 1px 1px rgba(0,0,0,.2);text-transform: uppercase;text-align: center}.ribbon-top-right{top: -10px;right: -10px}.ribbon-top-right::before, .ribbon-top-right::after{border-top-color: transparent;border-right-color: transparent}.ribbon-top-right::before{top: 0;left: 17px}.ribbon-top-right::after{bottom: 17px;right: 0}.ribbon-top-right span{left: -25px;top: 30px;transform: rotate(45deg)}.container{margin-top: 100px;margin-bottom: 100px}
